<section class="resume-section" id="about">
    <div class="container">
        <div class="content">
            <h1 class="name-heading display-1 font-weight-bolder">
                Rofiqul
                <span class="text-info">Islam</span>
            </h1>
            <div class="subheading h3">
                Kahilipara · Guwahati · Assam, PIN 781019 ·
                <a class="email text-info" href="mailto:rofiqulislam575@gmail.com">rofiqulislam575@gmail.com</a>
            </div>
            <p class="font-weight-bold">Experienced Graphic Designer and Web Developer with a demonstrated history of working in the apparel and fashion industry. Skilled in Adobe Creative Suite, Banners, Artwork, Adobe Illustrator, and Training. Strong arts and design professional
                with a 2 years course focused in Graphics design And Web development from Arena Animation Zoo Road.</p>
            <div class="social-icons">
                <a class="social-icon" href="https://www.linkedin.com/in/rofiqul-islam-689b5b1aa/"><i class="fab fa-linkedin-in"></i></a>

                <a class="social-icon" href="https://github.com/settings/profile"><i class="fab fa-github"></i></a>

                <a class="social-icon" href="https://www.youtube.com/channel/UCgbFbb8Izlsi4dlsR4IhLpQ"><i class="fab fa-youtube"></i></a>

                <a class="social-icon" href="https://twitter.com/Rofiqul575"><i class="fab fa-twitter"></i></a>

                <a class="social-icon" href="https://www.facebook.com/profile.php?id=100007085250570"><i class="fab fa-facebook-f"></i></a>

                <a class="social-icon" href="https://www.instagram.com/rofiqul_islam_575/"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</section>
