<!-- Experience-->
<!-- <section class="resume-section" id="experience">
    <div class="container">
        <h2 class="headingn mx-auto">Experience</h2>
        <div class="exp-div">
            <div class="flex-grow-1">
                <div class="flex-period">
                    <h3>Graphic Designer</h3>
                    <div class="work-period">August 2020 - October 2020</div>
                </div>

                <div class="company">CouchFashion-The AI fashion assistant</div>
                <p>I have completed an internship at a company named CouchFashion. CouchFashion is an AI fashion assistant and I worked there as a graphic designer for two months. Most of my work was done in Adobe Photoshop. During the internship I had the
                    opportunity to learn a lot of new things related to Graphic Design.
                </p>
            </div>
        </div>
    </div>
</section> -->


<section class="resume-section" id="experience">
    <div class="container">
        <div class="content">
            <div class="resume-section-content">
                <h1 class="mb-5 h1">Experience</h1>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Graphic Designer</h3>
                        <div class="subheading mb-3 text-secondary h5">CouchFashion-The AI fashion assistant</div>
                        <p class="font-weight-bold">I have completed an internship at <span class="font-weight-bold">Newsonrun Media Pvt Ltd</span>, and the product name is <span class="font-italic">CouchFashion</span>. <span class="font-italic">CouchFashion</span> is an AI fashion
                            assistant and I worked there as a graphic designer for two months. Most of my work was done in Adobe Photoshop. During the internship I had the opportunity to learn a lot of new things related to Graphic Design.</p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-info">August 2020 - October 2020</span></div>
                </div>
            </div>
        </div>
    </div>
</section>