<!-- Interests-->
<section class="resume-section" id="interests">
    <div class="container">
        <div class="content">
            <h2 class="heading h1">Interests</h2>

            <p class="font-weight-bold">I have interests in many things like long journey by bike, photography, reading books etc. Apart from being a Graphic Designer and Web Developer, I enjoy most of my times being outdoors. In the winter, I am a bike rider and I go to hill stations.</p>

            <p class="mt-1 font-weight-bold">During the warmer months here in Assam, I enjoy most of my times watching movies, reading novels at home. I love watching horror movies at night alone and sometimes I do freelancing work. I spend a large amount of my free times exploring the
                latest technology advancements in the Designing world.</p>
        </div>
    </div>
</section>